.container1 {
  display: flex;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  height: 80%;
  justify-content: center;
  padding-top: 4rem;
  scrollbar-width: none;
  /* background-color: red; */
}

.left {
  width: 95%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* background-color: red; */
}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  /* background-color: #2f2f2f; */
}

.profile-icon {
  width: 50px;
  height: 50px;
  background-color: #f0f;
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Text color */
  font-weight: bold;
  font-size: 20px; /* Adjust the font size */
}

.profile-container p {
  margin-left: 10px;
}
.group {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  padding: 25px 50px; /* Increase the padding */
  cursor: pointer;
  height: 60px; /* Increase the height */
  width: 100%; /* Increase the width */
  border-radius: 20px; /* Add border radius */
}

.active {
  background-color: #2f2f2f2b;
}

/* responsive design */
